{% load disqus_tags %}

<h4 class="post_title">
	<a href="{{ article.get_absolute_url }}" rel="bookmark" title="{{ article }}">{{ article }} {% if request.user.is_superuser %} <span class="edit">[<a href="/admin/blog/article/{{ article.pk }}/">edit</a>]</span>{% endif %}</a>
</h4>

<a href="archive.html">
	<span class="post_date">{{ article.published_at|date:"DATE_FORMAT" }}</span>
</a>
{% comment %} TODO plumb discus back in
<a href="http://martinogden.me/" rel="author">Martin Ogden</a> |
<time datetime="{{ article.published_at|date:'c' }}" pubdate>{{ article.published_at|date:'jS N Y' }}</time> |
<a href="{{ article.get_absolute_url }}#disqus_thread" rel="comments">View Comments</a>
{% disqus_num_replies %}
{% endcomment %}
