{% extends 'base.html' %}

{% block body_class %}article{% endblock body_class %}
{% block title %}{{ article }} | {% endblock title %}

{% block content %}
  <article id="article-1">
    <header>
      <!--
      HTML5 scopes Headings, therefore we 
        can use H(n>1) headings more semantically in markup -->
      <hgroup>
        <h1>{{ article }}</h1>
        <h2>
          <a href="http://martinogden.me/" rel="author">Martin Ogden</a> | 
          <time datetime="{{ article.published_at|date:'c' }}" pubdate>{{ article.published_at|date:'jS N Y' }}</time>
        </h2>
      </hgroup>
    </header>
    {{ article.content|safe }}

    <footer>
      {% if article.tags__count %}
      <small class="tags">
        {% for tag in article.tags.all %}
        <a href="" rel="tag">{{ tag }}</a>{% if forloop.last %}.{% else %},{% endif %}

        {% endfor %}
      </small>
      {% endif %}
    </footer>
{% comment %}
    <h2 class="comments">Comments</h2>
    <section class="comments">
      <article class="comment">
        <h4>
          Posted by <a href="#" rel="author">Desperate Dan</a> on 
          <time datetime="2011-02-27T00:00:00+00:00">27<sup>th</sup> February 2010</time>. 
          <a class="permalink" href="#permalink" rel="bookmark">Permalink</a>.
        </h4>
        <p>Ooo, I dunno.</p>
      </article>
      
      <article class="comment">
        <h4>
          Posted by <a href="#" rel="author">Desperate Dan</a> on 
          <time datetime="2011-02-27T00:00:00+00:00">27<sup>th</sup> February 2010</time>. 
          <a class="permalink" href="#permalink" rel="bookmark">Permalink</a>.
        </h4>
        <p>Ooo, I dunno.</p>
      </article>
      
      <article class="comment">
        <h4>
          Posted by <a href="#" rel="author">Desperate Dan</a> on 
          <time datetime="2011-02-27T00:00:00+00:00">27<sup>th</sup> February 2010</time>. 
          <a class="permalink" href="#permalink" rel="bookmark">Permalink</a>.
        </h4>
        <p>Ooo, I dunno.</p>
      </article>
    </section>
{% endcomment %}
  </article>
  <!-- EOF Article -->

{% endblock content %}