{% extends 'base.html' %}

{% block header %}
<hgroup>
  <h1>Hello, I'm Martin Ogden.</h1>
{% comment %}
  <h2 itemscope itemtype="http://data-vocabulary.org/Person">
     I'm <a itemprop="name" href="/about" rel="author">Martin Ogden</a>: 
    <span itemprop="role">Lead Developer</span> @ 
    <a href="http://cahoona.co.uk/" itemprop="affliation">Cahoona</a>, 
    <span itemprop="address" itemscope  
      itemtype="http://data-vocabulary.org/Address">  
      <span itemprop="locality">Manchester</span>,  
      <span itemprop="country">UK</span>  
    </span>
  </h2>
</hgroup>
{% endcomment %}
{% endblock header %}

{% block content %}
{% for article in latest %}
<article id="article-{{ article.pk }}">
  {% include 'blog/partials/article_header.html' %}
  {{ article.content|safe }}
</article>
<!-- EOF Articles -->
{% endfor %}
{% endblock content %}
