{% extends 'base.html' %}
{% load comments %}

{% block body_class %}article{% endblock body_class %}
{% block title %}{{ article }} | {% endblock title %}

{% block content %}
  <article id="article-{{ article.pk }}">
    {% include 'blog/partials/article_header.html' %}
    {{ article.content|safe }}

    <footer>
      {% if article.tags__count %}
      <small class="tags">
        {% for tag in article.tags.all %}
        <a href="" rel="tag">{{ tag }}</a>{% if forloop.last %}.{% else %},{% endif %}

        {% endfor %}
      </small>
      {% endif %}
    </footer>
    {% if article.is_commentable %}
      {% render_comment_list for article %}

      <h2 class="comments add">Add your comment</h2>
      {% with article.get_absolute_url as next %}
      {% render_comment_form for article %}
      {% endwith %}
    {% else %}
    <h2>Comments have been disabled.</h2>
    {% endif %}
  </article>
  <!-- EOF Article -->

{% endblock content %}
