<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>

	<!-- Basic Page Needs
	================================================== -->
	<meta charset="utf-8">
	<title>{% block title %}{% endblock title %}Martin Ogden</title>

	<!-- Mobile Specific Metas
	================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- CSS
	================================================== -->
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600|Bree+Serif' rel='stylesheet' type='text/css'>
	<link href="//netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.css" rel="stylesheet">
	<link rel="stylesheet" href="{{ STATIC_URL }}stylesheets/highlight.js/default.css">
	<link rel="stylesheet" href="{{ STATIC_URL }}stylesheets/style.css">

	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

	<!-- Favicons
	================================================== -->
	<link rel="shortcut icon" href="img/favicon.ico">

	<!-- Feeds
	================================================== -->
	<link rel="alternate" type="application/rss+xml" title="Martin Ogden's Blog (RSS 2.0)" href="/feed/">
</head>

<body>
	<header class="main">
		{% block header %}
		<a href="/" class="logo">
			<i class="icon-terminal icon-dark"></i>
		</a>
		<a href="/">
			<h4 class="logo-text">Martin Ogden</h4>
		</a>

		<div class="menubutton"><i class="icon-reorder"></i></div>
		<nav>
			<ul>
				<li><a href="archive.html">ARCHIVE</a></li>
				<li><a href="/about/">ABOUT</a></li>
			</ul>
		</nav>
		<br class="clear" />
		{% endblock header %}
	</header>

	{% block content %}{% endblock content %}

	<footer>

		<div class="slate">
			<div class="four columns">
				<h5>Find me on Twitter <a href="#">@martinogden</a></h5>
				<div class="tweet"></div>
			</div>
			<div class="four columns">
				<h5>Martin Ogden</h5>
				<p>Co-founder of <a href="http://nmb.rs/">nmb.rs</a>, <a href="https://coderwall.com/martinogden">Programmer</a>, <a href="http://app.strava.com/athletes/600999">Cyclist</a>.</p>


				<a href="http://github.com/martinogden">
					<button class="github"><i class="icon-github"></i></button>
				</a>
				<a href="http://twitter.com/martinogden">
					<button class="twitter"><i class="icon-twitter"></i></button>
				</a>
				<a href="/feed/">
					<button class="feed"><i class="icon-rss"></i></button>
				</a>
			</div>
		</div>

		<p class="small center">
			Licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0 Unported License</a>.
			<br>
			&copy; <a href="http://martinogden.me/about/" rel="author">Martin Ogden</a> 2011 - {% now "Y" %}.
		</p>
	</footer>

	<!-- JS
	================================================== -->
	<!-- 3rd Party Javascripts -->
	<script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
	<script src="http://yandex.st/highlightjs/5.16/highlight.min.js"></script>

	<script src="{{ STATIC_URL }}javascripts/jquery.tweet.js"></script>
	<script src="{{ STATIC_URL }}javascripts/respond.min.js"></script>

	{% block javascripts %}
	<!-- Custom Javascript -->
	<script src="{{ STATIC_URL }}javascripts/script.js"></script>
	{% endblock javascripts %}

	<!-- Analytics -->
	<script type="text/javascript">

	var _gaq = _gaq || [];
	_gaq.push(['_setAccount', 'UA-22341614-1']);
	_gaq.push(['_trackPageview']);

	(function() {
		var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	})();

	</script>

	<script type="text/javascript" src="http://include.reinvigorate.net/re_.js"></script>
	<script type="text/javascript">
		try {
			reinvigorate.track("159m7-369lvf9uq9");
		} catch(err) {}
	</script>
</body>
</html>
